:root {  
    --white: hsl(0,0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --gray-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    /*color: var(--gray-blue);*/  
}

@font-face {
    font-family: 'Raven Song';
    src: url(Raven-Song-Font/Raven-Song.ttf);
    font-style:normal;
    font-weight: 100;
}

/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 700 */

