/*  styles.css for QR-code  */

:root {  
    --white: hsl(0,0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --gray-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    /*color: var(--gray-blue);*/  
}

@font-face {
    font-family: 'Outfit';
    src: url(https://fonts.google.com/specimen/Outfit);
    font-style:normal;
    font-size: 15px;
}
body {
   
    background-color: var(--light-gray);
}
.main-container {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 30vw;
    height: 50vh;
}

.QR {
    height: 150px;
    width: 150px;
    background: url(image-qr-code.png);
    background-position: center center;
    background-repeat:no-repeat;
    background-clip:content-box;
}


/*
- Weights: 400, 700 

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px
*/


