/*  styles.css for QR-code  */
* {
    margin: 5px;
}

:root {  
    --white: hsl(0,0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --gray-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    /*color: var(--gray-blue);*/  
}

.header {
    height: 20vh;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--light-gray);
}
.main-container {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    
    align-items: center;
    gap: 5px;
    max-width: 225px;
}

.QR {  
    background-image: url(image-qr-code.png);
    background-size:cover;
    background-position: center;
    height: 200px;
    width: 90%;
    border-radius: 15px;
    margin-top: 10px;
    
}

.firstText {
    font-family: 'Outfit-Bold';
    src: url(Outfit-Bold.ttf);
    font-size: 17px;
    font-weight: 700;
    padding: 5px 6px 0px 15px;
    text-align: center;
    
}

.secondText {
    font-family: 'Outfit-Regular';
    src: url(Outfit-Regular.ttf);
    font-size: 13px;
    text-align: center;  
    font-weight: 400;
    color: var(--gray-blue);
    padding: 0px 5px 15px 10px;
}




